# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\!P\!D00_newyear\newyear\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
